<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="state-panel" style="margin-top: 4rem;">
    <div th:replace="~{fragments/state :: medallion('lock','bad')}"></div>
    <h4>Access denied</h4>
    <p>Your account doesn't have permission to view that page.</p>
    <a class="btn btn-primary" href="/"><span class="material-symbols-outlined">home</span>Go home</a>
</div>
</body>
</html>
